*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background: #000;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* Borders */
.red
{
    border: 2px solid red;
}
.green
{
    border: 2px solid green;
}
.yellow
{
    border: 2px solid yellow;
}
.blue
{
    border: 2px solid blue;
}
.tc-hotpink
{
    color: oklch(.656 .241 354.308);;
}
.tc-grey
{
    color: grey;
}
/* Width */
.w-50
{
    width: 50%;
    padding: 10px;
}
/* Padding */
.p-0
{
    padding: 0;
}
.p-2
{
    padding: 2px;
}
.plr-2
{
    padding: 0px 2px;
}
.container
{
    max-width: 1360px;
    margin: auto;
    padding: 30px;
}
.center
{
    display: flex;
    justify-content: center;
}
.justify-between
{
    justify-content: space-between;
}
.align-center
{
    align-items: center;
}
img
{
    width: 100%;
    border-radius: 10px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.icon
{
    font-size: 12px;
    margin-right: 10px;
}
.content h5
{
    font-size: 16px;
    font-weight: 400;
    color: grey;
}
.content h1
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}
.rating-location
{
    margin-bottom: 20px;
}
.summary
{
    margin-bottom: 12px;
    font-size: 14px;
    color: rgb(187, 187, 187);
}
.show-more
{
    margin-bottom: 20px;
}
.content button
{
    padding: 10px 20px;
    background-color: oklch(.656 .241 354.308);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}
.images .house-img img
{
    height: 100%;
    width: 100%;
    padding: 3px;
    padding-bottom: 0;
    object-fit: cover;
    border-radius: 10px;
}
.images .others-img 
{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* .images .others-img img
{
    width: 100%;
    padding: 3px 3px 0px 3px;
    object-fit: cover;
    border-radius: 10px;
} */
.content-2 h5
{
    font-size: 16px;
    font-weight: 400;
    color: grey;
}
.content-2 h1
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}
.content-2 .rating-location
{
    margin-bottom: 20px;
}
.content-2 .summary
{
    margin-bottom: 12px;
    font-size: 14px;
    color: rgb(187, 187, 187);
}
.content-2 .show-more
{
    margin-bottom: 20px;
}
.content-2 button
{
    padding: 10px 20px;
    background-color: oklch(.656 .241 354.308);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}
.xs-content h5
{
    font-size: 16px;
    font-weight: 400;
    color: grey;
}
.xs-content h1
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}
.xs-content .rating-location
{
    margin-bottom: 20px;
}
.xs-content .summary
{
    margin-bottom: 12px;
    font-size: 14px;
    color: rgb(187, 187, 187);
}
.xs-content .show-more
{
    margin-bottom: 20px;
}
.xs-content button
{
    padding: 10px 20px;
    background-color: oklch(.656 .241 354.308);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}
